 *{
 	padding: 0px;
 	margin: 0px;
 }

 .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  



/*---social media icons----*/
.site-social-links .link-fb:hover {
  background-color: #0275d8;
}

.site-social-links {
  width: 100%;
}

.site-social-links .link-li:hover {
  background-color: #007bb6;
}

.site-social-links .link-tw:hover {
  background-color: #00aced;
}

.site-social-links .link-vim:hover {
  background-color: green;
}

.site-social-links .link-yt:hover {
  background-color: #bb0000;
}

.site-social-links a {
  background-color:#888;
  display: inline-block;

  font-size: 20px;
  width: 40px; 
  height: 40px;
  position: relative;
  line-height: 40px;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

.site-social-links a + a {
  margin-left: 10px;
}
.site-social-links a .fa {
  position: relative;
  z-index: 1;
}

/*------------*/
.bg{
  background:linear-gradient(rgb(0,0,0,1), rgb(5,0,0,0.7)), url("../img/na.jpg");
   /* Full height */
  height: 250px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg2{
  background:linear-gradient(rgb(0,0,0,1), rgb(5,0,0,0.7)), url("../img/na.jpg");
   /* Full height */
  height: 150px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg4{
  background:linear-gradient(rgb(0,0,0,1), rgb(5,0,0,0.7)), url("../img/vd.jpg");
   /* Full height */
  height: 150px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg5{
  background:linear-gradient(rgb(0,0,0,1), rgb(5,0,0,0.7)), url("../img/cy.jpg");
   /* Full height */
  height: 150px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.xover {
    margin: 0px;
}

 .section-header h3 {
     font-size: 36px;
     color: #283d50;
     text-align: center;
     font-weight: 500;
     position: relative
 }

 .section-header p {
     text-align: center;
     margin: auto;
     font-size: 15px;
     padding-bottom: 30px;
     color: #556877;
     width: 50%
 }

 #clients {
     padding: 60px 0
 }

 #clients .clients-wrap {
     border-top: 1px solid #d6eaff;
     border-left: 1px solid #d6eaff;
     margin-bottom: 30px
 }

 #clients .client-logo {
     padding: 30px;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     border-right: 1px solid #d6eaff;
     border-bottom: 1px solid #d6eaff;
     overflow: hidden;
     background: #fff;
     height: 160px
 }

 #clients img {
     transition: all 0.4s ease-in-out
 }

 .sujay a{
  font-size: 17px;
  transition: .3s ease-in-out;
 }

 .sujay a:hover{
 color:blue !important;
 }

 .dbox .icon {
  color: white;
  font-size:20px;
  width: 60px;
  height: 60px;
  background:#013E50;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
 }

 .bg3{
   background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#013E50;
background-size:5px 5px;
 }

 .footer{ 
  background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#013E50;
background-size:5px 5px;
  align-items: center;
  display: flex;
  min-height:150px;
  text-align: center;

}

.footer .heading{
  position: relative;
  left: -80px;
  font-weight: bold;
}
/*--------------*/
.footer ul li a:hover{
color: yellow;

}

.footer ul li a{
color: #eee;
text-decoration: none;
font-weight: 600;
transition: .4s ease-in-out;
line-height: 30px;

}

 .footer .text-info, .footer a ,.footer p ,.footer h4{
  color:#ddd !important;
 }

.footer h6 {
  color:#f5c71a;
}

.bs-example{
  background: #eee;
  border-bottom: 1px solid yellow;
}